<%= @pool.name %>

<%= button_to "Create New Entry!",  pool_entries_path(@pool), disabled: @pool.started_at%>

<% if policy(@pool).admin? %>
  <% @pool.memberships.each do |membership| %>
    <%= membership.user.email %>
    <%= button_to "Remove User", membership, method: :delete %>
  <% end %>

  <% unless @pool.started_at %>
    <h2>Create questions</h2>
    <%= form_for @question do |f| %>
      <%= f.hidden_field :pool_id, value: @pool.id %>
      <%= f.label :text, "Question text" %>
      <%= f.text_field :text %>
      <%= f.fields_for :choices do |ff| %>
        <%= ff.label :text, "Choice text" %>
        <%= ff.text_field :text %>
      <% end %>

      <%= f.submit "Create Question!" %>
    <% end %>
  <% end %>

  <% if @pool.saved_questions.any? %>
    <h3>Existing questions</h3>
    <% @questions.each do |question| %>
      <ul>
        <li><%= question.text %></li>
        <ul>
          <% question.choices.each do |choice| %>
            <li><%= choice.text %></li>
          <% end %>
        </ul>
      </ul>
    <% end %>

  <% end %>
<% end %>
